/*sdfsdsf*/

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
  }
  
  #leftSide {
    height: 100%;
    width: 30%;
    background-color: #F0ECCF;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    height: 100%;
    width: 100%;
  }
  #profileImg {
    background-color: black;
    width: 216px;
    height: 226px;
    margin-bottom: 18px;
  }
  #profileBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  
    width: 216px;
    height: 241px;
  
    background: #A3BB98;
    border: 0.7px solid #242424;
    border-radius: 20px;
  }
  #profileInfo {
    text-align: center;
  }
  #buttonsWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    justify-content: space-evenly
  }
  #profileButton {
    box-sizing: border-box;
  
    width: 91px;
    height: 37px;
  
    background: #F0ECCF;
    border: 0.5px solid #4E4E4E;
    border-radius: 10px;
  }
  #logo {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: black;
    
    flex : 1 0 auto;
  }
  
  
  #rightSide {
    height: 100%;
    width: 70%;
    background-color: #A3BB98;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contents {
    display: flex;
    flex-direction: column;
    position:relative;
  }
  #contents1 {
    width: 409px;
    height: 114px;
  
    background: #F0ECCF;
    border-radius: 10px 10px 0px 0px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contents2 {
    width: 819px;
    height: 682px;
    display:flex;
    background: #F0ECCF;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
  }
  #rank_menubar {
    width: 409px;
    height: 114px;
    background-color: #F0ECCF;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;
    position:relative;
    left: 50%;
    bottom: 796px;
    
  }
  #rankButton{
    width: 339px;
    height: 70px;
    
    background: #FBC252;
    border-radius: 10px;
    border: none;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.135em;
    position:relative;
    top: 22px;
    left: 38px;
  
    color: #000000;
  }
  #userRanks{
    list-style: none;
    margin: 0 auto;
    padding:0;
  }
  #rankContent {
    text-align: center;
    width:743px;
    display:flex;
    flex-direction: column;
    margin: 38px 0 38px 0;
  }
  #topMenus{
    height: 10%;
    position:relative;
  }
  .btn{
    width: 182px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    background-color: rgb(236, 167, 17);
    border-radius: 20px;
    font-size: 25px;
    pointer-events: none;
  }
  #middleContents{
    height: 80%;
  }
  #rankTable{
    position: relative;
    bottom:5px;
  }
  #rankTable tr td{
    width: 25%;
    height: 96.958px;
    background-color: rgb(184, 107, 6);
    border-radius: 10px;
    font-size: 30px;
  }
  #bottomContents{
    height: 10%;
    background-color: rgb(236, 167, 17);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position:relative;
  }
  
  #bottomBtn{
    height: 25px;
    width: 130px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(238, 201, 146);
    position: relative;
    top: 5px;
    left:5px;
  }
  #bottomContents #arrowR{
    background-size: contain;
    transform: rotate(180deg);
    width: 70px;
    height: 50px;
    position:relative;
    left:300px;
    bottom:87px;
    pointer-events: all;
  }
  #bottomContents #arrowL{
    background-size: contain;
    width: 70px;
    height: 50px;
    position:relative;
    left:371.5px;
    bottom:37px;
  }
  #bottomContents img{
    border-radius: 20px;
  }
  #bottomContents img:hover{
    cursor: pointer;
  }
  #bottomContents #arrowR:hover{
    transform: rotate(-200deg);
  }
  #bottomContents #arrowL:hover{
    transform: rotate(20deg);
  }
  #bigButton {
    width: 339px;
    height: 70px;
    
    background: #FBC252;
    border-radius: 10px;
    border: none;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.135em;
  
    color: #000000;
  }