<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.project.OmokMapper">
	<select id="login" parameterType="java.util.Map" resultType="kr.co.project.PlayerVO">
		SELECT player_pk playerPK, id, password, nickname, victory, total FROM player WHERE id = #{id} AND password = #{password}
	</select>
</mapper>




