html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
}
button, input[type=submit], input[type=button] {
  cursor: pointer;
}

#modal {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}
#modalContent {
  width: 898px;
  height: 442px;
  z-index: 101;

  /* 가운데 정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-449px, -221px);
  margin: auto;

  background: #F0ECCF;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#inputTitleWrapper {
  margin-top: 82px;
}
#inputTitle {
  box-sizing: border-box;

  width: 686px;
  height: 85px;

  background: #FFFFFF;
  border: 0.4px solid #000000;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-indent: 30px;

  color: #000000;
}
#modalButton {
  width: 301.99px;
  height: 68px;

  background: #FBC252;
  border-radius: 10px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.135em;

  color: #000000;
}
#modalButtonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}

#leftSide {
  height: 100%;
  width: 30%;
  background-color: #F0ECCF;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
#profileImg {
  background-color: black;
  width: 216px;
  height: 226px;
  margin-bottom: 18px;
}
#profileBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  width: 216px;
  height: 241px;

  background: #A3BB98;
  border: 0.7px solid #242424;
  border-radius: 20px;
}
#profileInfo {
  text-align: center;
}
#buttonsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  justify-content: space-evenly
}
#profileButton {
  box-sizing: border-box;

  width: 91px;
  height: 37px;

  background: #F0ECCF;
  border: 0.5px solid #4E4E4E;
  border-radius: 10px;
}
#logo {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: black;
  
  flex : 1 0 auto;
}

#reloadButton {
  background: url( "reloadButton.png" ) no-repeat;
  background-size: contain;
  width: 73px;
  height: 73px;;
  border: none;
  cursor: pointer;
  border-radius: 100px;

  position: absolute;
  right: 27px;
  top: 27px;
}

#rightSide {
  height: 100%;
  width: 70%;
  background-color: #A3BB98;

  display: flex;
  justify-content: center;
  align-items: center;
}
#contents {
  display: flex;
  flex-direction: column;
}
/* 합칠 때 봐야함 */
#menu {
  display: flex;
  align-items: center;
}
#hideContents {
  margin-left: 48px;
}
#contents1 {
  width: 393px;
  height: 114px;

  background: #F0ECCF;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
#contents2 {
  width: 819px;
  height: 682px;
  
  background: #F0ECCF;
  border-radius: 0px 10px 10px 10px;

  /* 나중에 합칠때 아래 부분 괜찮은지 봐야함 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#bigButton {
  width: 339px;
  height: 70px;
  
  background: #FBC252;
  border-radius: 10px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.135em;

  color: #000000;
}
#roomList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#room {
  width: 767px;
  height: 98px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: #FBC252;
  border-radius: 10px;
  margin-top: 22px;
}
#roomNo {
  width: 164px;
  height: 72px;

  background: #FFB100;
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 72px;
  text-align: center;

  color: #000000;
}
#roomTitle {
  width: 562px;
  height: 72px;

  background: #FFB100;
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-indent: 15px;

  color: #000000;
}
#pageMoveButtonsWrapper {
  margin-bottom: 4px;
}
#pageMoveButton {
  width: 147px;
  height: 55px;

  background: #FBC252;
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

  color: #000000;
  margin: 10px;
}